<h1>Become a BookBud!</h1>

<%= flash[:alert] if flash[:alert] %>

<br><br>
<%= form_for @user do |f| %>

    Username: <%= f.text_field :username %><br><br>
    Email: <%= f.text_field :email %><br><br>
    Password: <%= f.password_field :password %><br><br>
    Confirm Password: <%= f.password_field :password_confirmation %><br><br>

    <%= f.submit "Sign Up" %>

<% end %>