<h1>Welcome, <%= @user.username %>!</h1>

<%= flash[:message] if flash[:message] %><br><br>


<h3>Books You've Read:</h3>
<% if @user.books.any? %>
    <p>Read anything good lately? <%= link_to "Add it here", new_book_path %> or <%= link_to "see if we have it!", books_path%> </p>
    <ul>
    <% @user.books.each do |book| %>
        <li>
            <%= link_to book.title, book_path(book) %> by <%= book.author.name %>
        </li>
    <% end %>
    </ul>
<% else %>
    <p>Dang! No books yet! That's okay. <%= link_to "Check out our list", books_path %> or <%= link_to "make a new book!", new_book_path %></p>
<% end %>

<h3>Your Posts: </h3>
<% if @user.authored_posts.any? %>
    <%= link_to "New Post", new_post_path %>
    <% @user.authored_posts do |post| %>
        <%= link_to post.title, post_path(post) %>
    <% end %>
<% else %>
    <p>Gadzooks! You haven't made any posts! <%= link_to "Click here", new_post_path %> to get started!</p>
<% end %>



