<h1>Welcome, <%= @user.username %>!</h1>

<%= link_to "Logout", users_logout_path, method: :get %><br><br>

<% if flash[:message] %>
    <%= flash[:message] %> <br><br>
<% end %>


<h3>Books You've Read:</h3>
<% if @user.books.any? %>
    <p>Read anything good lately? <%= link_to "Add it here", new_user_book_path(@user) %> or <%= link_to "see if we have it!", books_path%> </p>
    <ul>
    <% @user.books.each do |book| %>
        <li>
            <%= link_to book.title, user_book_path(@user, book) %> by <%= book.author.name %>
        </li>
    <% end %>
    </ul>
<% else %>
    <p>Dang! No books yet! That's okay. <%= link_to "Check out our list", books_path %> or <%= link_to "make a new book!", new_user_book_path(@user) %></p>
<% end %>

<h3>Your Posts: </h3>
<% if @user.authored_posts.any? %>
    <%= link_to "New Post", new_user_post_path(@user) %><br><br>
    <% @user.authored_posts.each do |post| %>
        <%= link_to post.title, user_post_path(post) %><br>
    <% end %>
<% elsif @user.books.any? %>
    <p>Gadzooks! You haven't made any posts! <%= link_to "Click here", new_user_post_path(@user) %> to get started!</p>
<% else %>
    <p>Egad! You haven't got any books, and can't make a post about nothing. Click the links above to get started on a book!</p>
<% end %>



