<h1>Welcome to Our Book Collection!</h1>

<p><%= link_to "Click here", new_user_book_path(@user) %> if you can't find the book you're looking for!</p><br>

<h3>Filter Books:</h3>
<%= form_tag("/books", method: "get") do %>
    Author: <%= select_tag :author, options_from_collection_for_select(@authors, :id, :name), include_blank: true %><br><br>
    Genre: <%= select_tag :genre, options_from_collection_for_select(@genres, :id, :name), include_blank: true %><br><br>
<%= submit_tag "Filter" %>
<% end %>

<% @books.each do |book| %>
    <h4><%= book.title %></h4>
    <h5>by: <%= book.author.name %></h5>
    <p><%= book.genre.name %></p>
<% end %>

