<h1>Create a New Book</h1>

<%= form_for @book do |f| %>

    Title: <%= f.text_field :title %><br><br>
    Author: <%= f.text_field :author_name, list: "authors_autocomplete" %>
    <datalist id="authors_autocomplete">
        <% @authors.each do |author| %>
            <option value="<%= author.name %>">
        <% end %>
    </datalist><br><br>
    Genre: <%= f.text_field :genre_name, list: "genres_autocomplete" %>
    <datalist id="genres_autocomplete">
        <% @genres.each do |genre| %>
            <option value="<%= genre.name %>">
        <% end %>
    </datalist><br><br>
    Pages: <%= f.text_field :page_count %><br><br>

    <%= f.submit %>

<% end %>