<h1>New Post</h1>

<%= form_for @post do |f| %>

    Title: <%= f.text_field :title %><br><br>
    Content: <%= f.text_area :content %><br><br>
    Book: <%= f.collection_select(:book_id, @author.books, :id, :title) %><br><br>

    <input type="hidden" name="post[author_id]" value="<%= @author.id %>">
    <%= f.submit %>
<% end %>