<h1><%= link_to @post.book.title, book_path(@post.book) %> by <%= link_to @post.book.author.name, author_path(@post.book.author) %></h1>
<h2><%= @post.title %></h2>
<h3>by: <%= link_to @post.author.username, user_path(@post.author) %></h3>

<p><%= @post.content %></p><br><br>

<h2>Comment Section</h2>
<% if !@post.comments.empty? %>
    <% @post.comments.each do |comment| %>
        <h5><%= link_to comment.user.username, user_path(comment.user) %>:</h5>
        <blockquote>"<%= comment.content %>"</blockquote>
    <% end %>
<% end %>